.App {
  text-align: center;
  background-color: #c5c6c7;
}



.caseType{
  display: inline;
  margin: 15px;
}
.mainbody{
  margin: auto;
  padding-top: 30px;
}
.btn{
  margin: 15px;
}
.btn-upper{
  color: aqua;
}